body {
  padding: 0;
  margin: 0;
  height: 100%;
/* background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
}

.App {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  overflow-y: auto;
}
/* .particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
} */

.center {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}


